
.mainFxmlClass {

}

#lblTitle{
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-background-radius: 0 0 10 10;
}

.dialog-pane .button{
    -fx-background-color: gray;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: white;
}
.dialog-pane .button:hover{
    -fx-background-color: #116c51;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: whitesmoke;
}

#btnAddTODO{
    -fx-background-image:url("../Images/plus-solid.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 20 20;
    -fx-background-position: center;
}


#btnAddSubTODO{
    -fx-background-image:url("../Images/plus-solid.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#btnCheckTODO{
    -fx-background-image:url("../Images/check-solid.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#btnUpdateTODO{
    -fx-background-image:url("../Images/arrows-rotate-solid.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#btnDeleteTODO{
    -fx-background-image:url("../Images/eraser-solid.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#txtNameTODO{
    -fx-background-color:whitesmoke;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: gray;
    -fx-border-width:1;
    -fx-text-fill: #00875f;
}

#txtProjectTODO{
    -fx-background-color:whitesmoke;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: gray;
    -fx-border-width:1;
    -fx-text-fill: #00875f;
}

.tree-view{
    -fx-background-color:whitesmoke;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: gray;
    -fx-border-width:1;
    -fx-text-fill: black;
}
.tree-cell{
    -fx-border-color: whitesmoke;  
}
.tree-cell:selected{
    -fx-background-color: #00ffaf;  
    -fx-text-fill: black;
}
